.red {
    color: red;
}

.bold {
    font-weight: bold
}

.Cockpit button.ShowHide {
    background-color: green;
    color: white;
}

.Cockpit button.ShowHide:hover {
    background-color: lightgreen;
    color: black;
}

.Cockpit button.ShowHideRed {
    background-color: red;
}

.Cockpit button.ShowHideRed:hover {
    background-color: salmon;
    color: black;
}

.Cockpit button.FlipButton {
}


